#raceCar {
  width: 50%;
  height: 50%;
  top: -34px;
  position: relative;
}

.dummyUser label{
  text-transform: lowercase;
}

.logout {
  cursor: pointer;
  text-transform: lowercase;
}

.welcome {
  text-transform: capitalize;
}

#statusMessage {
  position: fixed;
	left: 15px;
	bottom: 0px;
}