#raceCar {
  top: 6px;
  position: relative;
}

.dummyUser label{
  text-transform: lowercase;
}

.logout {
  cursor: pointer;
  text-transform: lowercase;
}

.welcome {
  text-transform: capitalize;
}

#statusMessage {
  position: fixed;
	left: 15px;
	bottom: 0px;
}

.display-4 {
	font-size: 2rem;
	font-weight: 400;
	line-height: 1.2;
}