<img id="raceCar" class="pull-right" src="../../assets/images/AngularJS_logo.png">
<h1 class="display-4">Angular 8 - Complete POC</h1>
<p class="lead">Angular frontend UI</p>
<p *ngIf="!authService.isUserLoggedIn()" class="dummyUser">
  <span class="text-primary">Dummy User</span><br/>
  Username: <label>admin</label><br/>
  Password: 123456
</p>
<p *ngIf="authService.isUserLoggedIn()" class="welcome">Welcome {{ authService.userName }}, <span (click)="logout()" class="logout text-primary">logout here</span></p>


