<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <img id="raceCar" class="pull-right" src="https://purepng.com/public/uploads/large/purepng.com-mclaren-650s-gt3-yellow-race-carcarvehicletransportmclarenrace-car-961524644630j4tgq.png">
    <h1 class="display-4">Softrams Racing</h1>
    <p class="lead">Redefining digital frontiers.</p>
    <p *ngIf="!authService.isloggedIn" class="dummyUser">
      <span class="text-primary">Dummy User</span><br/>
      Username: <label>admin</label><br/>
      Password: 123456
    </p>
    <p *ngIf="authService.isloggedIn" class="welcome">Welcome {{ authService.userName }}, <span (click)="logout()" class="logout text-primary">logout here</span></p>
  </div>
</div>

