<div class="container-fluid col-md-6">
  <h3 class="text-center lead">Add Member to Racing Team</h3>
  <br />
  <!--Template Driven Form or Model Driven Form?-->
  <form [formGroup]="memberForm" (ngSubmit)="onSubmit()">
    <div>
      <div class="row">
        <div class="col-md-6">
          <input
            type="text"
            class="form-control"
            id="firstName"
            name="firstName"
            placeholder="First Name"
            formControlName="firstName" 
            autofocus
          />
        </div>
        <div class="col-md-6">
          <input
            type="text"
            class="form-control"
            id="lastName"
            name="lastName"
            placeholder="Last Name"
            formControlName="lastName" 
          />
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-6">
          <input
            type="text"
            class="form-control"
            id="jobTitle"
            name="jobTitle"
            placeholder="Job Title"
            formControlName="jobTitle" 
          />
        </div>

        <div class="col-md-6">
          <!--We may have to make a service call to get this list-->
          <select id="team" name="team" formControlName="team" class="custom-select">
            <option>- Select Team -</option>
            <option *ngFor="let team of teams">{{ team.teamName }}</option>
          </select>
        </div>
      </div>
      <br />
      <div class="form-group col-md-6">
        <div class="row">
          <div class="col-md-12">
            <label id="activeStatus" class="md-check lead">
              <input type="radio" value="Active" name="status" formControlName="status" [checked]='true'/> Active
            </label>
            <label id="inActiveStatus"  class="md-check lead">
              <input type="radio" value="Inactive" name="status" formControlName="status" /> Inactive
            </label>
          </div>
        </div>
      </div>
    </div>

    <!--Disable if form is invalid-->
    <div class="row">
      <div class="col-md-12 pull-right">
        <button type="submit" class="btn btn-primary pull-right" [disabled]="!memberForm.valid">
          Create Member
        </button>
        <button type="button" class="btn btn-light pull-right" (click)="router.navigate(['members']);">
          Cancel
        </button>
      </div>
    </div>

  </form>
</div>
