<div class="container-fluid">  
  <button id="addMemberButton" class="btn btn-primary pull-left" (click)="goToAddMemberForm()">Add Member</button>
  <table class="table">
    <thead>
      <tr>
        <th>Member ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Job Title</th>
        <th>Team</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let member of members'>
        <td>{{member?.id}}</td>
        <td>{{member?.firstName}}</td>
        <td>{{member?.lastName}}</td>
        <td>{{member?.jobTitle}}</td>
        <td>{{member?.team}}</td>
        <td>{{member?.status}}</td>
        <td>
          <a (click)="editMemberByID(member.id)" class="text-primary" style="cursor: pointer;">Edit</a>
          &nbsp;
          <a (click)="deleteMemberById(member.id)" class="text-primary" style="cursor: pointer;">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
